# Local development — fill in your values
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=pets_db
PG_USER=
PG_PASSWORD=

# When using a deployed production database, the host (e.g. Render) will provide a connection string to use instead
# PG_CONNECTION_STRING=postgres://user:password@host:5432/database
